/*//=============================
=============|| PRELOADER ||=========================================================================*/
@import "functions";

.preeloader{
	background-color: $white;
	@include position(fixed, $top: 0, $left: 0);
	@include size(100%);
	z-index: 9999;

	.loader-1{
		position: relative;
		@include size(80px);
		@include inline-block;
		@include position(absolute, $left: 50%, $top: 50%);
		@include transform(translate(-50%, -50%));

		div{
			@include position(absolute, $top: 33px);
			@include size(13px);
			@include border-radius(50%);
			@include color($primary-color);
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
		
			&:nth-child(1) {
				left: 8px;
				animation: loader1 0.6s infinite;
			}
			&:nth-child(2) {
				left: 8px;
				animation: loader2 0.6s infinite;
			}
			&:nth-child(3) {
				left: 32px;
				animation: loader2 0.6s infinite;
			}
			&:nth-child(4) {
				left: 56px;
				animation: loader3 0.6s infinite;
			}
		}
	}

	.loader-gif{
		@include inline-block;
		@include position(absolute, $left: 50%, $top: 50%);
		@include transform(translate(-50%, -50%));
	}
}

// Keyframe Animation
@include CustomKeyframes (loader1){
	0% {
	@include transform(scale(0));
	}
	100% {
		@include transform(scale(1));
	}
}
@include CustomKeyframes (loader3){
	0% {
	@include transform(scale(1));
	}
	100% {
		@include transform(scale(0));
	}
}
@include CustomKeyframes (loader2){
	0% {
	@include transform(translate(0, 0));
	}
	100% {
		@include transform(translate(24px, 0));
	}
}